<div class="row mb-2">
  <div class="col">
    <button class="btn btn-outline-dark rounded-0 w-100" (click)="addContact()">add contact</button>
  </div>
  <div class="col">
    <button class="btn btn-outline-dark rounded-0 w-100" (click)="addContact(55555)">add contact (55555)</button>
  </div>
  <div class="col">
    <button class="btn btn-outline-danger rounded-0 w-100" (click)="removeContact()">remove contact</button>
  </div>
  <div class="col">
    <button [disabled]="!form.valid" class="btn btn-success rounded-0 w-100" (click)="onSubmit()">submit</button>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <button class="btn btn-outline-dark rounded-0 w-100" (click)="toggleCityVisiblity('florida')">
      toggle visiblity (florida)
    </button>
  </div>
  <div class="col">
    <button class="btn btn-outline-dark rounded-0 w-100" (click)="toggleCityEnabled('california')">
      toggle enable (california)
    </button>
  </div>
  <div class="col">
    <button class="btn btn-outline-dark rounded-0 w-100" (click)="toggleDropdownReadonly()">
      toggle dropdown readonly
    </button>
  </div>
  <div class="col">
    <button class="btn btn-outline-dark rounded-0 w-100" (click)="toggleDropdownEnable('city')">
      toggle dropdown enable
    </button>
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <button class="btn btn-outline-dark rounded-0 w-100" (click)="setCity('florida')">Set City to Florida</button>
  </div>
  <div class="col">
    <button class="btn btn-outline-dark rounded-0 w-100" (click)="setCity('california')">Set City to California</button>
  </div>
  <div class="col">
    <button class="btn btn-outline-dark rounded-0 w-100" (click)="resetDropdowns()">reset dropdowns</button>
  </div>
</div>
<div class="row py-5">
  <div class="col">
    <form [formGroup]="form">
      <div class="row mb-3">
        <div class="col">
          <label for="color" class="form-label">Color</label>
          <input
            type="text"
            class="form-control form-control-sm rounded-0"
            formControlName="color"
            [value]="color.value"
          />
        </div>
        <div class="col">
          <label for="color" class="form-label">Same Color</label>
          <single-select formControlName="color" [options]="colors"></single-select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <single-select formControlName="city" label="City" [options]="cities" [readonly]="readonly"></single-select>
        </div>
      </div>
      <div style="overflow: auto; max-height: 100px">
        <contact
          class="row py-3 my-3 bg-info"
          *ngFor="let contact of contacts.controls; let i = index"
          [ngClass]="{ 'bg-opacity-10': i % 2 == 0, 'bg-opacity-25': i % 2 != 0 }"
          [form]="contact"
          (delete)="removeContact($event)"
        ></contact>
      </div>
    </form>
  </div>
  <div class="col">
    <pre class="col bg bg-light m-0">{{ this.form.value | json }}</pre>
  </div>
</div>
