<form [formGroup]="order">
  <div
    class="row py-2 bg-gradient bg-opacity-10 border-start border-5 align-items-end"
    [ngClass]="{
      'bg-primary border-primary': side.value == 'buy',
      'bg-danger border-danger': side.value == 'sell'
    }"
  >
    <div class="col-2">
      <div class="row">
        <div class="col-auto py-0 align-self-center pe-0">
          <input class="form-check-input mt-0" style="height: 25px; width: 25px" type="checkbox" (change)="onSelect(id.value, $event)"/>
        </div>
        <div class="col">
          <single-select formControlName="side" [options]="Constants.Sides"></single-select>
        </div>
      </div>
    </div>
    <div class="col-2">
      <label for="cusip" class="form-label">cusip</label>
      <input type="text" class="form-control form-control-sm rounded-0" id="account" formControlName="cusip" />
    </div>
    <div class="col-2">
      <label for="account" class="form-label">account</label>
      <input type="text" class="form-control form-control-sm rounded-0" id="account" formControlName="account" />
    </div>
    <div class="col"></div>
    <div class="col-auto">
      <button class="btn btn-outline-danger btn-sm w-100 mb-2" (click)="this.delete.emit(id.value)">
        <i class="fa-solid fa-trash"></i>
      </button>
      <button class="btn btn-outline-dark btn-sm w-100" (click)="detailLayerVisible = !detailLayerVisible">
        <i
          class="fa-solid fa-1x"
          [ngClass]="{ 'fa-caret-down': !detailLayerVisible, 'fa-caret-up': detailLayerVisible }"
        ></i>
      </button>
    </div>
  </div>
  <div *ngIf="detailLayerVisible" class="row">
    <div class="bg-light bg-opacity-50 py-3" style="min-height: 10rem">
      <pre>{{ order.value | json }}</pre>
    </div>
  </div>
</form>
